@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #345270;
}

header {
  width: 100%;
  position: fixed;
}

h1 {
  color: #fff;
  font-family: 'Rozha One', serif;
  font-weight: lighter;
}

h2 {
  font-family: 'Rozha One', serif;
  font-weight: lighter;
  color: #345270;
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
}

.menu a {
  text-decoration: none;
}

/*Hamburger menu section*/
.menu {
  width: 100%;
  position: relative;
}

.hamburger {
  margin-left: 10%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
  background-color: #345270;
}

.menu #hamburger-checkbox {
  display: none;
}

.menu #hamburger-checkbox:checked ~ .items {
  display: block;
}

.menu #hamburger-checkbox:checked + .hamburger .bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(9px);
  transform: rotate(45deg) translateY(9px);
}

.menu #hamburger-checkbox:checked + .hamburger .bar:nth-child(2) {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  opacity: 0;
}

.menu #hamburger-checkbox:checked + .hamburger .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-9px);
  transform: rotate(-45deg) translateY(-9px);
}

.menu .hamburger {
  display: flex;
  height: 25px;
  width: 25px;
  cursor: pointer;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 4px;
}

.bar {
  background-color: #d4bce0;
  height: 3px;
  width: 100%;
  transition: all 0.1s ease-in-out;
  opacity: 1;
  border-radius: 20%;
}

.menu .items {
  display: none;
}

.items {
  background-color: #d4bce0;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  /* border: 10px dotted #345270; */
}

.menu-item:nth-child(1) {
  margin-top: 30vh;
}

.hero-section {
  background-image: url("./Images/cake-1283824_700.jpg");
  background-size: cover;
  background-position: top;
  height: 35vh;
  background-color: inherit;
  text-align: center;
}

/* Hero images on the various pages*/
.about {
  background-image: url("./Images/cooks-842244_700.jpg");
  background-position: center;
}

.products {
  background-image: url("./Images/macarons-2548827_700.jpg");
  background-position: top;
}

.courses {
  background-image: url("./Images/victor-rodriguez-iglesias-487137-unsplash_700.jpg");
  background-position: center;
}

.contact {
  background-image: url("./Images/cake-pops-1398941_700.jpg");
  background-position: center;
}

.section, .section {
  margin-top: 5%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 5px dotted #d4bce0;
  padding: 2%;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.image-separate {
  margin-top: 5%;
  background-image: url("./Images/holly-stratton-576521-unsplash_700.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
}

.logotype h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

.logotype {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sales-point {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px dotted #d4bce0;
}

.sales-point h2 {
  color: #fff;
}

.sales-point a {
  color: #fff;
}

.container-products {
  margin-top: 10%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.one-product {
  font-size: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 5px dotted #d4bce0;
  width: 80%;
  height: auto;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}

.one-product h2, .one-product p {
  color: #fff;
  text-align: center;
}

.one-product img {
  width: 45%;
}

.prod-text {
  width: 45%;
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #d4bce0;
  color: #345270;
  text-align: center;
  height: 10%;
  /* position: fixed;
  bottom: 0; */
}

footer h3 {
  margin: 0;
}

footer h4 {
  margin: 0;
}

.footer {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer a {
  color: #345270;
}

/* Media queries  */

@media (max-width: 375px) {
  footer {
    margin-top: 25%;
  }
  .logotype h1 {
    font-size: 170%;
  }
}


@media (min-width: 375px) and (max-width: 425px) {
  footer {
    margin-top: 30%;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .logotype h1 {
    font-size: 300%;
  }
  .desktop {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .sales-point {
    width: 40%;
    border: 5px dotted #d4bce0;
  }
  .sales-point h2 {
    font-size: 200%;
  }
  footer {
    margin-top: 30%;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    height: 70vh;
    background-image: url("./Images/cake-1283824_1920.jpg");
    background-size: cover;
    background-position: center;
  }
  .about {
    background-image: url("./Images/cooks-842244_1920.jpg");
    background-position: center;
  }
  .products {
    background-image: url("./Images/macarons-2548827_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .courses {
    background-image: url("./Images/victor-rodriguez-iglesias-487137-unsplash_1920.jpg");
    background-position:center;
  }
  .contact {
    background-image: url("./Images/cake-pops-1398941_1920.jpg");
  }
  .logotype h1 {
    font-size: 400%;
  }
  .desktop {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .sales-point {
    width: 40%;
    border: 5px dotted #d4bce0;
  }
  .sales-point h2 {
    font-size: 350%;
  }
  .bar, .checkbox, #hamburger-checkbox, .hamburger {
    display: none;
  }
  .row {
    margin-top: -3%;
  }
  .menu .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .items {
    padding: 0;
    height: 8vh;
    margin: 0;
  }
  .menu-item:nth-child(1) {
    margin-top: 0;
  }
  .section p {
    font-size: 150%;
  }
  .one-product {
    font-size: 200%;
 }
  .image-separate {
    margin-top: 5%;
    background-image: url("./Images/holly-stratton-576521-unsplash_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
  }
}
