@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #345270;
}

h1 {
  color: #fff;
  font-family: 'Rozha One', serif;
  font-weight: lighter;
}

h2 {
  font-family: 'Rozha One', serif;
  font-weight: lighter;
  color: #345270;
  text-align: center;
}

.menu a {
  text-decoration: none;
}

p {

}

/*Hamburger menu section*/
.menu {
  width: 100%;
  position: relative;
}

.hamburger {
  margin-left: 10%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.menu #hamburger-checkbox {
  display: none;
}

.menu #hamburger-checkbox:checked ~ .items {
  display: block;
}

.menu #hamburger-checkbox:checked + .hamburger .bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(16px);
  transform: rotate(45deg) translateY(16px);
}

.menu #hamburger-checkbox:checked + .hamburger .bar:nth-child(2) {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
}

.menu #hamburger-checkbox:checked + .hamburger .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-17px);
  transform: rotate(-45deg) translateY(-17px);
}

.menu .hamburger {
  display: flex;
  height: 50px;
  width: 50px;
  cursor: pointer;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 8px;
}

.bar {
  background-color: #d4bce0;
  height: 6px;
  width: 100%;
  transition: all 0.1s ease-in-out;
  opacity: 1;
  border-radius: 20%;
}

.menu .items {
  display: none;
}

.items {
  background-color: #d4bce0;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  /* border: 10px dotted #345270; */
}

.menu-item:nth-child(1) {
  margin-top: 30vh;
}

.hero-section {
  background-image: url("./Images/artur-rutkowski-581979-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  background-color: inherit;
  text-align: center;
}

/* Hero images on the various pages*/
.about {
  background-image: url("./Images/cooks-842244_1920.jpg");
}
.products {
  background-image: url("./Images/daniel-masajada-622375-unsplash.jpg");
}
.courses {
  background-image: url("./Images/holly-stratton-576521-unsplash.jpg");
}
.contact {
  background-image: url("./Images/holly-stratton-576521-unsplash.jpg");
}
.box {
  position: relative;
  padding: 0 2%;
}

.logo {
  padding: 2%;
  position: absolute;
  background-color: #345270ba;
  float: right;
  right: 50px;
  top: 330px;
}

.section, .section {
  margin-top: 5%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 10px dotted #d4bce0;
  padding: 2%;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.sales-point {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 10px dotted #d4bce0;
}

.sales-point h2 {
  color: #d4bce0;
  font-size: 400%;
}

.sales-point img {
  margin-top: 10%;
  width: 100%;
}

.container-products {
  margin-top: 10%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;

}

.one-product {
  border: 10px dotted #d4bce0;
  width: 80%;
  height: 20vh;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.one-product h2, .one-product p {
  color: #d4bce0;
}

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

footer h3, footer h4 {
  font-size: 200%;
  color: #d4bce0;
  margin: 0;
}

.footer {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
